In [1]:
import pandas as pd
import numpy as np

In [2]:
Budget = pd.read_excel(r'C:\Users\DELL\Desktop\p\Budget Sales data\Budget.xlsx', skiprows=3)

In [3]:
Budget.tail()

,Category,Subcategory,ProductName,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
16,Clothing,Shorts,"Men's Sports Shorts, S",445.0,421,5723,7301,6335,5288,6829,4617,5384,6277,6337,6300,7641,68453
17,Clothing,Socks,"Mountain Bike Socks, M",218.0,24,244,432,547,385,372,839,487,425,335,660,699,5449
18,Clothing,Vests,"Classic Vest, S",471.0,980,2008,1980,2312,2763,2591,3379,3580,3600,4248,3685,3439,34565
19,SubTotal Clothing,NaN,NaN,NaN,6589,23652,27004,24787,25773,33091,30244,28277,30727,32159,33419,38019,333741
20,Grand Total,NaN,NaN,NaN,871119,858350,999795,1131721,1226351,1713430,1354917,1577564,1507678,1674817,1975436,1978396,16869574

In [4]:
Budget.shape

(21, 17)

In [5]:
Budget.columns

Index(['Category', 'Subcategory', 'ProductName', 'ProductKey', 'Jan, 2016',
       'Feb, 2016', 'Mar, 2016', 'Apr, 2016', 'May, 2016', 'Jun, 2016',
       'Jul, 2016', 'Aug, 2016', 'Sep, 2016', 'Oct, 2016', 'Nov, 2016',
       'Dec, 2016', 'Grand Total'],
      dtype='object')

In [6]:
Budget.head(1)

,Category,Subcategory,ProductName,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
0,Accessories,Bike Racks,Hitch Rack - 4-Bike,483.0,1131,2635,4134,2179,2637,3279,2218,3287,3885,2484,5441,3551,36861

In [7]:
Budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     21 non-null     object
 1   Subcategory  17 non-null     object
 2   ProductName  17 non-null     object
 3   ProductKey   17 non-null     float64
 4   Jan, 2016    21 non-null     int64
 5   Feb, 2016    21 non-null     int64
 6   Mar, 2016    21 non-null     int64
 7   Apr, 2016    21 non-null     int64
 8   May, 2016    21 non-null     int64
 9   Jun, 2016    21 non-null     int64
 10  Jul, 2016    21 non-null     int64
 11  Aug, 2016    21 non-null     int64
 12  Sep, 2016    21 non-null     int64
 13  Oct, 2016    21 non-null     int64
 14  Nov, 2016    21 non-null     int64
 15  Dec, 2016    21 non-null     int64
 16  Grand Total  21 non-null     int64
dtypes: float64(1), int64(13), object(3)
memory usage: 2.9+ KB

# Null values

In [8]:
Budget.isnull().sum()

Category       0
Subcategory    4
ProductName    4
ProductKey     4
Jan, 2016      0
Feb, 2016      0
Mar, 2016      0
Apr, 2016      0
May, 2016      0
Jun, 2016      0
Jul, 2016      0
Aug, 2016      0
Sep, 2016      0
Oct, 2016      0
Nov, 2016      0
Dec, 2016      0
Grand Total    0
dtype: int64

In [9]:
Budget.isnull()

,Category,Subcategory,ProductName,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
Budget.head(3)

,Category,Subcategory,ProductName,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
0,Accessories,Bike Racks,Hitch Rack - 4-Bike,483.0,1131,2635,4134,2179,2637,3279,2218,3287,3885,2484,5441,3551,36861
1,Accessories,Bike Stands,All-Purpose Bike Stand,486.0,666,3695,2868,4862,3439,4612,2774,3003,2401,4413,3881,2143,38757
2,Accessories,Bottles and Cages,Water Bottle - 30 oz.,477.0,1892,4727,3656,4449,4051,6257,4871,5231,5461,5529,5220,6025,57369

# Data Cleaning

In [11]:
cover = Budget['Subcategory'].mode()[0]

In [12]:
Budget['Subcategory'].fillna(cover, inplace = True)

In [13]:
cover = Budget['ProductName'].mode()[0]

In [14]:
Budget['ProductName'].fillna(cover, inplace = True)

In [15]:
Pcover = Budget['ProductKey'].mean()

In [16]:
Budget['ProductKey'].fillna(Pcover, inplace = True)

In [17]:
Budget.isnull().sum()

Category       0
Subcategory    0
ProductName    0
ProductKey     0
Jan, 2016      0
Feb, 2016      0
Mar, 2016      0
Apr, 2016      0
May, 2016      0
Jun, 2016      0
Jul, 2016      0
Aug, 2016      0
Sep, 2016      0
Oct, 2016      0
Nov, 2016      0
Dec, 2016      0
Grand Total    0
dtype: int64

In [21]:
Budget.describe()

,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
count,21.000000,21.000000,21.000000,21.000000,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01
mean,403.117647,124445.571429,122621.428571,142827.857143,1.616744e+05,1.751930e+05,2.447757e+05,1.935596e+05,2.253663e+05,2.153826e+05,2.392596e+05,2.822051e+05,2.826280e+05,2.409939e+06
std,106.329150,267512.184736,250523.231390,293679.499236,3.338041e+05,3.624235e+05,5.079436e+05,4.007932e+05,4.695312e+05,4.470726e+05,4.975152e+05,5.889984e+05,5.902571e+05,5.006585e+06
min,212.000000,24.000000,244.000000,432.000000,5.470000e+02,3.690000e+02,3.720000e+02,7.770000e+02,4.870000e+02,2.390000e+02,3.350000e+02,6.600000e+02,4.550000e+02,5.449000e+03
25%,344.000000,666.000000,2635.000000,2868.000000,2.705000e+03,2.763000e+03,3.260000e+03,2.975000e+03,3.287000e+03,3.600000e+03,3.181000e+03,3.881000e+03,3.551000e+03,3.686100e+04
50%,445.000000,1892.000000,5723.000000,7301.000000,6.335000e+03,5.288000e+03,6.829000e+03,4.871000e+03,5.384000e+03,6.277000e+03,6.337000e+03,6.300000e+03,7.641000e+03,6.845300e+04
75%,483.000000,14499.000000,52447.000000,54596.000000,5.442800e+04,5.573400e+04,6.952100e+04,6.018200e+04,6.277000e+04,5.943100e+04,6.239700e+04,7.454300e+04,6.705900e+04,6.876070e+05
max,560.000000,871119.000000,858350.000000,999795.000000,1.131721e+06,1.226351e+06,1.713430e+06,1.354917e+06,1.577564e+06,1.507678e+06,1.674817e+06,1.975436e+06,1.978396e+06,1.686957e+07

# Droping Duplicates

In [19]:
Budget.drop_duplicates()

,Category,Subcategory,ProductName,ProductKey,"Jan, 2016","Feb, 2016","Mar, 2016","Apr, 2016","May, 2016","Jun, 2016","Jul, 2016","Aug, 2016","Sep, 2016","Oct, 2016","Nov, 2016","Dec, 2016",Grand Total
0,Accessories,Bike Racks,Hitch Rack - 4-Bike,483.000000,1131,2635,4134,2179,2637,3279,2218,3287,3885,2484,5441,3551,36861
1,Accessories,Bike Stands,All-Purpose Bike Stand,486.000000,666,3695,2868,4862,3439,4612,2774,3003,2401,4413,3881,2143,38757
2,Accessories,Bottles and Cages,Water Bottle - 30 oz.,477.000000,1892,4727,3656,4449,4051,6257,4871,5231,5461,5529,5220,6025,57369
3,Accessories,Cleaners,Bike Wash - Dissolver,484.000000,160,713,555,656,369,582,777,777,239,496,686,455,6465
4,Accessories,Fenders,Fender Set - Mountain,485.000000,970,3014,2809,4259,3638,3721,4190,3618,3975,3892,4740,4844,43670
5,Accessories,Helmets,"Sport-100 Helmet, Red",212.000000,5317,16221,16752,16552,17204,25354,17584,20409,18268,20567,25571,22106,221905
6,Accessories,Hydration Packs,Hydration Pack - 70 oz.,487.000000,809,2684,2917,3425,2716,3260,3773,3523,4252,3111,4985,4348,39803
7,Accessories,Tires and Tubes,Patch Kit/8 Patches,480.000000,3554,18758,20905,18046,21680,22456,23995,22922,20950,21905,24019,23587,242777
8,SubTotal Accessories,Bike Racks,AWC Logo Cap,403.117647,14499,52447,54596,54428,55734,69521,60182,62770,59431,62397,74543,67059,687607
9,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",344.000000,370105,326786,384811,439822,458523,619456,524348,647048,557368,615032,802831,788234,6534364
10,Bikes,Road Bikes,"Road-150 Red, 62",310.000000,346295,289524,355097,346783,399691,546092,441037,432400,468572,483913,558232,590261,5257897
11,Bikes,Touring Bikes,"Touring-2000 Blue, 60",560.000000,133631,165941,178287,265901,286630,445270,299106,407069,391580,481316,506411,494823,4055965
12,SubTotal Bikes,Bike Racks,AWC Logo Cap,403.117647,850031,782251,918195,1052506,1144844,1610818,1264491,1486517,1417520,1580261,1867474,1873318,15848226
13,Clothing,Caps,AWC Logo Cap,223.000000,479,1695,1462,1079,1729,2180,1588,2065,2013,2138,1830,2113,20371
14,Clothing,Gloves,"Half-Finger Gloves, S",462.000000,598,2474,2957,2705,2819,2966,2975,3264,2424,3181,3518,4084,33965
15,Clothing,Jerseys,"Long-Sleeve Logo Jersey, S",226.000000,4087,11508,12872,11809,12789,18153,16846,13497,15988,15920,17426,20043,170938
16,Clothing,Shorts,"Men's Sports Shorts, S",445.000000,421,5723,7301,6335,5288,6829,4617,5384,6277,6337,6300,7641,68453
17,Clothing,Socks,"Mountain Bike Socks, M",218.000000,24,244,432,547,385,372,839,487,425,335,660,699,5449
18,Clothing,Vests,"Classic Vest, S",471.000000,980,2008,1980,2312,2763,2591,3379,3580,3600,4248,3685,3439,34565
19,SubTotal Clothing,Bike Racks,AWC Logo Cap,403.117647,6589,23652,27004,24787,25773,33091,30244,28277,30727,32159,33419,38019,333741
20,Grand Total,Bike Racks,AWC Logo Cap,403.117647,871119,858350,999795,1131721,1226351,1713430,1354917,1577564,1507678,1674817,1975436,1978396,16869574

In [20]:
Budget.to_csv('Budget.csv',index = False)